:host, .controls {
  display: flex;
  & > * {
    margin-right: 15px;
  }
}
.grid {
  display: flex;
  flex-direction: column;
  border: 40px solid black;
  width: fit-content;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
